.header{
  height: 125px;
  background: #333333;
  padding: 0 60px;
}

.header-link{
  color: white;
  font-size: 30px;
  float: left;
  margin-right: 60px;
  text-decoration: none;
  line-height: 125px;
}

.main{
  padding: 120px 60px;
  display: flex;
  justify-content: space-between;
}

.left{
  width: 48%;
}

.right{
  width: 48%;
}

.title{
  font-size: 75px;
  font-weight: bold;
  margin-bottom: 30px
}
.paragraph{
  font-size: 24px;
  margin-bottom: 30px;
}

.gray-box{
  width: 100%;
  height: 450px;
  background: #D8D8D8;
  margin-bottom: 30px;
}

.footer{
  height: 125px;
  background: #333333;
}
